/*Custom CSS's for Fleemer project*/
.loader {
    border: 1px solid grey;
    border-radius: 50%;
    border-top: 10px solid green;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    opacity: 0.5;
    margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader-container {
    height: 342px;
}

body {
    padding-top: 5rem;
    font-size: 90%;
}

html.center,
body.center {
    height: 100%;
}

body.create-user {
    padding-top: 1rem;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

td.border-bottom {
    border-bottom:1pt solid black;
}

#main-navbar {
    font-size: 110%;
}

#pagination>li>a,
#pagination>li>span {
    border: 1px solid gray;
}

#pagination>li.active>a {
    background: lightgrey;
    color: #ffffff;
}

#advanced-options {
    position: fixed;
    bottom: 1.5em;
    right: 2.5em;
    width: 20em;
    height: 34em;
    overflow: auto;
    z-index: 999;
}

#advanced-options select {
    width: 17em;
}

#advanced-options i {
    position: relative;
    top: 3px;
}

#advanced-options span {
    position: relative;
    right: 5px;
}

.side-toggle {
    position: fixed;
    right: 2em;
    height: 3em;
    width: 3em;
    border-radius: 100%;
    background-color: black;
    opacity: 0.3;
    color: white;
    padding: 1em;
    z-index: 999;
}

#advanced-options-toggle {
    top: 6em;
}

#charts-toggle {
    top: 10em;
}

#advanced-options-toggle:hover,
#charts-toggle:hover {
    transform: scale(1.2);
    opacity: 0.5;
    cursor: pointer;
    animation-delay: 1s;
}

.target-visible {
    background-color: red;
}

.fa-chart-area{
    position: relative;
    bottom: 0.3em;
    transform: scale(1.8);
    opacity: 1;
    cursor: pointer;
}

.fa-filter {
    transform: scale(1.5);
    opacity: 1;
    cursor: pointer;
}

.tooltip {
    opacity: 0.5 !important;
    font-size: 90% !important;
}

span.fa-edit:hover,
span.fa-trash-alt:hover {
    transform: scale(1.25);
    color: black!important;
}