/*Custom CSS's for Fleemer project*/
.loader {
    border: 1px solid grey;
    border-radius: 50%;
    border-top: 10px solid green;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    opacity: 0.5;
    margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader-container {
    height: 342px;
}

body {
    padding-top: 5rem;
    font-size: 90%;
}

html.center,
body.center {
    height: 100%;
}

body.create-user {
    padding-top: 1rem;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

td.border-bottom {
    border-bottom:1pt solid black;
}

#main-navbar {
    font-size: 110%;
}

#pagination>li>a,
#pagination>li>span {
    border: 1px solid gray;
}

#pagination>li.active>a {
    background: lightgrey;
    color: #ffffff;
}