<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('options')"></div>
<main role="main" class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 mb-3">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h5 class="text-center" th:text="#{access.stats.table.name}">Last 3 month access statictics:</h5>
                    </div>
                </div>
                <div class="col-sm-12 mb-3">
                    <table class="table table-hover">
                        <thead align="right">
                        <tr>
                            <th scope="col" class="text-left" th:text="#{access.stats.table.month}">Month</th>
                            <th scope="col" class="text-left" th:text="#{access.stats.table.ip}">IP address</th>
                            <th scope="col" class="text-left" th:text="#{access.stats.table.host}">Host</th>
                            <th scope="col" class="text-left" th:text="#{access.stats.table.uri}">URI</th>
                            <th scope="col" class="text-left" th:text="#{access.stats.table.user-agent}">User agent</th>
                            <th scope="col" class="text-left" th:text="#{access.stats.table.request-counter}">Request counter</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="s : ${stats}">
                            <td class="small" align="left" th:text="${s.date}">...</td>
                            <td class="small" align="left" th:text="${s.ip}">...</td>
                            <td class="small" align="left" th:text="${s.host}">...</td>
                            <td class="small" align="left" th:text="${s.uri}">...</td>
                            <td class="small" align="left" th:text="${s.agent}">...</td>
                            <td class="small" align="left" th:text="${s.count}">...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer th:replace="footer::footer"></footer>
    </div>
</main>
</body>
</html>