<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('accounts')"></div>
    <main role="main" class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h6 class="text-center text-muted" th:text="#{accounts.add-account}">Add account</h6>

                    <div th:if="${#request.getParameter('deleteForbidden')}">
                        <div class="alert alert-danger text-center" role="alert">
                            <span th:text="#{accounts.error.delete-forbidden}"></span><br>
                        </div>
                    </div>

                    <div th:if="${#request.getParameter('success')}">
                        <div class="alert alert-success text-center" role="alert">
                            <span th:text="#{common.successfully-completed}"></span><br>
                        </div>
                    </div>

                    <div th:if="${#request.getParameter('error') == 'lock'}">
                        <div class="alert alert-danger text-center" role="alert">
                            <span th:text="#{common.error.already-modified}"></span><br>
                        </div>
                    </div>

                    <form method="post" th:action="@{/accounts/create}" action="#" th:object="${account}"
                          class="needs-validation" novalidate=>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label th:for="*{name}" th:text="#{accounts.form.name}">Name</label>
                                <input th:field="*{name}" type="text" class="form-control form-control-sm" required/>
                                <div th:if="${#fields.hasErrors('name')}">
                                    <span th:errors="*{name}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{accounts.error.not-empty}">The field cannot be empty</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label th:for="*{type}" th:text="#{accounts.form.type}">Type</label>
                                <select th:field="*{type}" class="form-control form-control-sm" required>
                                    <option value="" th:text="#{accounts.form.select-type}">Select type</option>
                                    <option th:each="type : ${accountTypes}" th:value="${type}"
                                            th:text="${#messages.msg('common.account.type.' + type.toString().toLowerCase())}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('type')}">
                                    <span th:errors="*{type}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{accounts.error.select-value}">Select a value</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label th:for="*{currency}" th:text="#{accounts.form.currency}">Currency</label>
                                <select th:field="*{currency}" class="form-control form-control-sm" required>
                                    <option value="" th:text="#{accounts.form.select-currency}">Select currency</option>
                                    <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('currency')}">
                                    <span th:errors="*{currency}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{accounts.error.select-value}">Select a value</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label th:for="balance" th:text="#{accounts.balance}">Initial balance</label>
                                <input th:field="*{balance}" type="text" class="form-control form-control-sm" placeholder="0.0"
                                       th:pattern="#{common.number.pattern}" required>
                                <div th:if="${#fields.hasErrors('balance')}">
                                    <span th:errors="*{balance}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{accounts.error.should-be-digit}">
                                    The field cannot be empty and should be a digit
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <button class="btn btn-sm btn-outline-secondary btn-block" type="submit"
                                        th:text="#{accounts.form.save}">Save
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div id="loader-container" class="row col-md-12 mb-10">
                        <div class="loader"></div>
                    </div>

                    <table class="table table-sm table-hover table-borderless" hidden>
                        <thead class="text-right">
                        <tr class="text-dark">
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="a : ${accounts}">
                                <td></td>
                                <td class="text-right fit">
                                    <span th:text="${#strings.abbreviate(a.name,30)}"></span>
                                    &nbsp;
                                    <th:block th:switch="${a.type.name()}">
                                        <i th:case="'CASH'" class="text-muted fas fa-wallet"></i>
                                        <i th:case="'BANK_ACCOUNT'" class="text-muted far fa-credit-card"></i>
                                        <i th:case="'DEPOSIT'" class="text-muted fas fa-university"></i>
                                        <i th:case="'DEBT'" class="text-muted fas fa-link"></i>
                                    </th:block>
                                </td>
                                <td class="fit">&nbsp;</td>
                                <td class="text-right fit">
                                    <span>
                                        <span th:text="${#numbers.formatDecimal(a.balance,1,'WHITESPACE',2,'DEFAULT')}"></span>
                                        <span th:switch="${a.currency.name()}">
                                            <span th:case="'USD'"><span class="text-muted  fas fa-dollar-sign"></span></span>
                                            <span th:case="'EUR'"><span class="text-muted  fas fa-euro-sign"></span></span>
                                            <span th:case="'RUB'"><span class="text-muted  fas fa-ruble-sign"></span></span>
                                        </span>
                                        &nbsp;
                                        <a href="#" th:href="@{/accounts/update(id=${a.id})}">
                                            <span class="far fa-edit text-dark"></span>
                                        </a>
                                        <a href="#" th:href="@{/accounts/delete(id=${a.id})}" onclick="return confirmWindow();">
                                            <span class="far fa-trash-alt text-dark"></span>
                                        </a>
                                    </span>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div hidden>
                <span id="delete-confirm" th:text="#{accounts.delete-confirm}">Do you really want to delete this account?</span>
            </div>
        </div>
    </main>
    <footer th:replace="footer::footer(enableMessageNotification=true)"></footer>
    <script>
        $(document).ready(function(){
            preloadImages();
            setValidationListener();
            showTable();
        });
    </script>
</body>
</html>