<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('categories')"></div>
    <main role="main" class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h6 class="text-center text-muted" th:text="#{categories.add-category}">Add category</h6>

                    <div th:if="${#request.getParameter('deleteForbidden')}">
                        <div class="alert alert-danger text-center" role="alert">
                            <span th:text="#{categories.error.delete-forbidden}"></span><br>
                        </div>
                    </div>

                    <div th:if="${#request.getParameter('success')}">
                        <div class="alert alert-success text-center" role="alert">
                            <span th:text="#{common.successfully-completed}"></span><br>
                        </div>
                    </div>

                    <div th:if="${#request.getParameter('error') == 'lock'}">
                        <div class="alert alert-danger text-center" role="alert">
                            <span th:text="#{common.error.already-modified}"></span><br>
                        </div>
                    </div>

                    <form method="post" th:action="@{/categories/create}" action="#" th:object="${category}"
                          class="needs-validation" novalidate>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label th:for="*{name}" th:text="#{categories.form.name}">Name</label>
                                <input th:field="*{name}" type="text" class="form-control form-control-sm" required/>
                                <div th:if="${#fields.hasErrors('name')}">
                                    <span th:errors="*{name}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{categories.error.not-empty}">The field cannot be empty</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label th:for="*{type}" th:text="#{categories.form.type}">Type</label>
                                <select th:field="*{type}" class="form-control form-control-sm" required>
                                    <option value="" th:text="#{accounts.form.select-type}">Select type</option>
                                    <option th:each="type : ${categoryTypes}" th:value="${type}"
                                            th:text="${#messages.msg('common.category.type.' + type.toString().toLowerCase())}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('type')}">
                                    <span th:errors="*{type}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{categories.error.select-value}">Select a value</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <button class="btn btn-sm btn-outline-secondary btn-block" type="submit"
                                        th:text="#{categories.form.save}">Save
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 mb-3">
                    <div id="loader-container" class="row col-md-12 mb-10">
                        <div class="loader"></div>
                    </div>

                    <table class="table table-sm table-hover" hidden>
                        <thead align="right">
                        <tr class="text-dark">
                            <th scope="col" th:text="#{categories.table.columns.name}">Name</th>
                            <th scope="col" th:text="#{categories.table.columns.type}">Type</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="a : ${categories}">
                                <td align="right" th:text="${a.name}">...</td>
                                <td align="right" th:text="${#messages.msg('common.category.type.' + a.type.toString().toLowerCase())}">...</td>
                                <td align="left">
                                    <a href="#" th:href="@{/categories/update(id=${a.id})}">
                                        <span class="far fa-edit text-dark"></span>
                                    </a>
                                    <a href="#" th:href="@{/categories/delete(id=${a.id})}" onclick="return confirmWindow();">
                                        <span class="far fa-trash-alt text-dark"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div hidden>
                <span id="delete-confirm" th:text="#{categories.delete-confirm}">Do you really want to delete this category?</span>
            </div>
        </div>
    </main>
<script>
    $(document).ready(function(){
        preloadImages();
        setValidationListener();
        showTable();
    });
</script>
<footer th:replace="footer::footer(enableMessageNotification=true)"></footer>
</body>
</html>