<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{navbar.menu.chat}">Chat</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link th:href="@{/static/css/common.css}" href="../static/css/common.css" rel="stylesheet">
    <link th:href="@{/static/css/chat.css}" href="../static/css/chat.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script th:src="@{/static/js/common.js}" src="../static/js/common.js" defer></script>
    <script th:src="@{/static/js/chat.js}" src="../static/js/chat.js" defer></script>
</head>
<body>
<div class="container">
    <div id="server-connection">
        <p class="text-center" th:text="#{chat.server-connection}">Server connection...</p>
    </div>
    <div id="loader-container" class="row col-md-12 mb-10">
        <div class="loader"></div>
    </div>
    <div class="panel messages-panel" hidden>
        <!-- Left panel -->
        <div class="contacts-list">
            <div class="tab-content">
                <div class="contacts-outter-wrapper tab-pane active">
                    <div class="panel-search panel-search-form info form-group has-feedback">
                        <input type="text" class="form-control form-control-sm" name="search" th:placeholder="#{chat.search}"
                               placeholder="Search contact">
                        <span class="fa fa-search text-muted"></span>
                    </div>
                    <div class="contacts-outter">
                        <ul id="chat-destination" class="list-unstyled contacts">
                            <!-- Chats list here -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right panel -->
        <div id="chat-body-destination" class="tab-content">
            <!-- Chat body here -->
        </div>
    </div>
</div>
<footer th:replace="footer::footer(enableMessageNotification=false)"></footer>

<!-- Code snippets for JS -->
<div hidden>
    <a id="message-receive-notification" th:href="@{/static/audio/notification_sound.mp3}"></a>
    <p id="connection-error" th:text="#{chat.connection.error}"></p>
    <p id="contact-existence-error" th:text="#{chat.existence.error}"></p>

    <!-- Conversation code snippet (left panel) -->
    <li id="chat" data-toggle="tab" data-target="#chat-body">
        <i class="fa fa-user medium-image"></i>
        <div class="vcentered info-combo">
            <h3 class="no-margin-bottom name">nickname</h3>
        </div>
        <div class="contacts-add">
            <span class="far fa-trash-alt"></span>
        </div>
    </li>

    <!-- Conversation body code snippet -->
    <div id="chat-body" class="tab-pane message-body">
        <div class="message-chat">
            <div class="chat-body">
                <!-- Messages here -->
            </div>
            <div class="chat-footer">
                <textarea class="send-message-text" title=""></textarea>
                <button type="button" class="send-message-button btn-light">
                    <i class="fas fa-location-arrow"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- My message code snippet -->
    <div id="my-message" class="message my-message">
        <i class="fa fa-user medium-image myself"></i>
        <div class="message-body">
            <div class="message-body-inner">
                <div class="message-info">
                    <h4 th:text="#{chat.my-name}">I'm</h4>
                    <h5><i class="far fa-clock"></i>&nbsp;</h5>
                </div>
                <hr>
                <div class="message-text">Message text</div>
            </div>
        </div>
        <br>
    </div>

    <!-- Foreign message code snippet -->
    <div id="foreign-message" class="foreign message info">
        <i class="fa fa-user medium-image"></i>
        <div class="message-body">
            <div class="message-info">
                <h4>Nickname</h4>
                <h5><i class="far fa-clock"></i>&nbsp;</h5>
            </div>
            <hr>
            <div class="message-text">Message text</div>
        </div>
        <br>
    </div>
</div>
<script>
    $(document).ready(function(){
        connect(onChatConnected, onChatConnectionError);
        setSearchUsersAutocompleteWidget();
        setInterval(usersStatesUpdate, 11000);
        var searchElem = $('input[name="search"]');
        searchElem.focusout(function () {
            searchElem.val('');
        });
    });
</script>
</body>
</html>