<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="center">
<head th:replace="header::header"></head>
<body class="center">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="alert alert-danger form-signin text-center" role="alert">
                    <h4 class="alert-heading" th:text="#{error.error}">Error!</h4>
                    <p th:utext="#{error.message}">Unfortunately, an unexpected error occurred while the application was running.
                        Please go to the main page of the <a href="/">link</a>.</p>
                    <hr>
                    <p class="mb-0" th:text="#{error.message.conclusion}">I hope these little troubles will not affect your love for
                        our application :)</p>
                </div>
                <footer th:replace="footer::footer(enableMessageNotification=false)"></footer>
            </div>
        </div>
    </div>
</body>
</html>