<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<footer th:fragment="footer(enableMessageNotification)" class="my-5 text-muted text-center text-small">
    <div>
        <span th:utext="#{common.copyright}" class="mb-1">Copyright &copy; 2018 Fleemer Corp. </span>
    </div>
    <div>
        <span th:text="#{common.version(${@environment.getProperty('com.fleemer.application.version')})}"></span>
    </div>
    <div>
        <span class="fas fa-envelope"></span>
        <a class="text-muted" th:href="'mailto:'+${@environment.getProperty('spring.mail.username')}"
           th:text="${@environment.getProperty('spring.mail.username')}">Email address
        </a>
    </div>
    <div th:if="${enableMessageNotification}">
        <script>
            $(document).ready(function(){
                connect(onNotificationConnected, onNotificationConnectionError);
            });
        </script>
    </div>
    <div th:if="${session.person}" hidden="">
        <p id="current-user-nickname" th:text="${session.person.nickname}"></p>
        <p id="current-user-id" th:text="${session.person.id}"></p>
        <p id="chat-notification-icon" th:text="@{/static/images/comment-regular.svg}"></p>
        <p id="chat-notification-info" th:text="#{chat.notification.info}"></p>
        <p id="locale" th:text="${#ctx.#locale.language}"></p>
    </div>
</footer>
</body>
</html>