<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('home')"></div>
    <main role="main" class="container">
        <div class="container">
            <div class="row justify-content-center">
                <!--Accounts balance-->
                <div class="col-md-4">
                    <ul class="list-group list-group-flush mb-3">
                        <li th:each="a : ${accounts}" class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0" th:text="${a.name}">Name</h6>
                                <small class="text-muted"
                                       th:text="${#messages.msg('common.account.type.' + a.type.toString().toLowerCase())}">
                                    Type
                                </small>
                            </div>
                            <span>
                                <span th:class="${a.balance >= 0} ? 'text-success' : 'text-danger'"
                                      th:text="${#numbers.formatDecimal(a.balance,1,'WHITESPACE',2,'DEFAULT')}">0.00</span>
                                <th:block th:switch="${a.currency.name()}">
                                    <i th:case="'USD'"><i class="text-muted fas fa-dollar-sign"></i></i>
                                    <i th:case="'EUR'"><i class="text-muted fas fa-euro-sign"></i></i>
                                    <i th:case="'RUB'"><i class="text-muted fas fa-ruble-sign"></i></i>
                                </th:block>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="col-md-8">
                    <div th:if="${#request.getParameter('error') == 'lock'}">
                        <div class="alert alert-danger text-center" role="alert">
                            <span th:text="#{common.error.already-modified}"></span><br>
                        </div>
                    </div>

                    <!--New operation form-->
                    <div class="d-block mb-3 text-center">
                        <div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
                            <label class="btn btn-outline-secondary w-100 active">
                                <input type="radio" name="operationType" id="outcome" autocomplete="off">
                                <span th:text="#{index.form.outcome}">Outcome</span>
                            </label>
                            <label class="btn btn-outline-secondary w-100 ">
                                <input type="radio" name="operationType" id="income" autocomplete="off">
                                <span th:text="#{index.form.income}">Income</span>
                            </label>
                            <label class="btn btn-outline-secondary w-100">
                                <input type="radio" name="operationType" id="transfer" autocomplete="off">
                                <span th:text="#{index.form.transfer}">Transfer</span>
                            </label>
                        </div>
                    </div>

                    <form method="post" th:action="@{/operations/create}" action="#" th:object="${operation}"
                          class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <select id="out-account" th:field="*{outAccount}" class="form-control form-control-sm">
                                    <option value="" th:text="#{index.form.select-account}"></option>
                                    <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('outAccount')}">
                                    <span th:errors="*{outAccount}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{index.error.select-value}">Select a value</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select id="in-account" th:field="*{inAccount}" class="form-control form-control-sm" disabled>
                                    <option value="" th:text="#{index.form.select-account}"></option>
                                    <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('inAccount')}">
                                    <span th:errors="*{inAccount}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{index.error.select-value}">Select a value</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <select id="category" th:field="*{category}" class="form-control form-control-sm" title="">
                                    <option id="category-name-blank-value" value="" th:text="#{index.form.select-category}"></option>
                                </select>
                                <div class="invalid-feedback" th:text="#{index.error.select-value}">Select a value</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input th:field="*{date}" class="form-control form-control-sm" type="text"
                                       placeholder="yyyy-mm-dd" required/>
                                <div th:if="${#fields.hasErrors('date')}">
                                    <span th:errors="*{date}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{index.error.select-date}">Select a date of operation</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input id="sum" th:field="*{sum}" type="text" class="form-control form-control-sm"
                                       th:placeholder="#{index.form.sum.placeholder}"
                                       th:pattern="#{common.number.pattern}" required autofocus/>
                                <div th:if="${#fields.hasErrors('sum')}">
                                    <span th:errors="*{sum}" class="text-danger small"></span><br>
                                </div>
                                <div class="invalid-feedback" th:text="#{index.error.should-be-digit}">
                                    The field cannot be empty and should be a digit
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <textarea th:field="*{comment}" class="form-control form-control-sm" rows="1"
                                          th:placeholder="#{index.form.comment.placeholder}">
                                </textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <button class="btn btn-sm btn-outline-secondary btn-block" type="submit"
                                        th:text="#{index.form.ok}">OK
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="loader-container" class="row col-md-12 mb-10">
                <div class="loader"></div>
            </div>

            <!--Chart-->
            <div id="chart" class="row"></div>

            <div id="chart-date-range" class="row justify-content-center" hidden>
                <div class="col-md-8">
                    <form action="#" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input id="from-date" class="form-control form-control-sm" type="text" value=""
                                       th:placeholder="#{operations.form.period-begin}" required/>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input id="till-date" class="form-control form-control-sm" type="text" value=""
                                       th:placeholder="#{operations.form.period-end}" required/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--Operations table-->
            <div class="row"><div class="col-md-12 mb-3"></div></div>
            <h6 class="text-center text-muted"
                th:text="${!operations.isEmpty()} ? #{index.today-operations} : #{index.today-operations-empty}">
                Today's operations:
            </h6>

            <div class="row" th:if="${!operations.isEmpty()}">
                <div class="col-md-12 mb-3">
                    <table class="table table-sm table-hover">
                        <thead align="right">
                        <tr class="text-dark">
                            <th scope="col" th:text="#{operations.table.from-account}">From account</th>
                            <th scope="col" th:text="#{operations.table.to-account}">To account</th>
                            <th scope="col" th:text="#{operations.table.category}">Category</th>
                            <th scope="col" th:text="#{operations.table.sum}">Sum</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-dark" th:each="o : ${operations}"
                            th:with="sum=${#numbers.formatDecimal(o.sum,1,'WHITESPACE',2,'DEFAULT')}">
                            <td align="right" th:text="${o.outAccount != null ? o.outAccount.name : ''}">...</td>
                            <td align="right" th:text="${o.inAccount != null ? o.inAccount.name : ''}">...</td>
                            <td align="right" th:text="${o.category != null ? o.category.name : ''}">...</td>
                            <td align="right">
                                <span>
                                    <span th:if="${o.outAccount != null && o.category != null}" th:text="'-' + ${sum}"
                                          class="text-danger">...</span>
                                    <span th:if="${o.outAccount != null && o.inAccount != null}" th:text="${sum}">...</span>
                                    <span th:if="${o.inAccount != null && o.category != null}" th:text="'+' + ${sum}"
                                          class="text-success">...</span>
                                    <th:block th:switch="${o.outAccount != null ? o.outAccount.currency.name() : o.inAccount.currency.name()}">
                                        <i th:case="'USD'"><i class="text-muted fas fa-dollar-sign"></i></i>
                                        <i th:case="'EUR'"><i class="text-muted fas fa-euro-sign"></i></i>
                                        <i th:case="'RUB'"><i class="text-muted fas fa-ruble-sign"></i></i>
                                    </th:block>
                                </span>
                            </td>
                            <td align="left">
                                <a href="#" th:href="@{/operations/update(id=${o.id},redirect='/')}">
                                    <span class="far fa-edit text-dark"></span>
                                </a>
                                <a href="#" th:href="@{/operations/delete(id=${o.id},redirect='/')}" onclick="return confirmWindow();">
                                    <span class="far fa-trash-alt text-dark"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div hidden>
                <span id="income-chart-text" th:text="#{index.chart.income}">Income</span>
                <span id="outcome-chart-text" th:text="#{index.chart.outcome}">Outcome</span>
                <span id="delete-confirm" th:text="#{index.delete-confirm}">Do you really want to delete this operation?</span>
                <span id="date-picker-lang" th:text="#{common.lang}">en</span>
            </div>

            <footer th:replace="footer::footer(enableMessageNotification=true)"></footer>
            <script>
                $(document).ready(function(){
                    setValidationListener();
                    var newOperationDateElem = $('#date');
                    var fromElem = $('#from-date');
                    var tillElem = $('#till-date');
                    setDatePicker(newOperationDateElem, fromElem, tillElem);
                    newOperationDateElem.val(new Date().toISOString().substring(0, 10));
                    setOperationTypeListener(true);
                    setChartDateRangeListener(fromElem, tillElem);
                    $('#outcome').click();
                    refreshChart();
                    $('#sum').focus();
                });
            </script>
        </div>
    </main>
</body>
</html>