<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
    <nav th:fragment="navbar (pageName)" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a th:href="@{/}" href="#" class="navbar-brand">
            <img th:src="@{/static/images/logo_full.png}" src="../static/images/logo_full.png" width="135" height="35">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${pageName == 'home'}? 'active'">
                    <a th:href="@{/}" href="#" class="nav-link" th:text="#{navbar.menu.home}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${pageName == 'operations'}? 'active'">
                    <a th:href="@{/operations}" href="#" class="nav-link" th:text="#{navbar.menu.operations}">Operations</a>
                </li>
                <li class="nav-item" th:classappend="${pageName == 'accounts'}? 'active'">
                    <a th:href="@{/accounts}" href="#" class="nav-link" th:text="#{navbar.menu.accounts}">Accounts</a>
                </li>
                <li class="nav-item" th:classappend="${pageName == 'categories'}? 'active'">
                    <a th:href="@{/categories}" href="#" class="nav-link" th:text="#{navbar.menu.categories}">Categories</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" th:classappend="${pageName == 'options'}? 'active'">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false" th:text="#{navbar.menu.options}">Options</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" th:href="@{/user/update}" href="#" th:text="#{navbar.menu.settings}">Settings</a>
                        <a class="dropdown-item" th:href="@{/options/serialize}" href="#" th:text="#{navbar.menu.serialize}">Export/Import</a>
                        <a class="dropdown-item" th:href="@{/user/update}" href="#" th:text="#{navbar.menu.profile}">My profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}" href="#"
                           th:text="#{navbar.menu.logout(${session.person.firstName})}">Logout(username)</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>