<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('operations')"></div>
<main role="main" class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div th:if="${#request.getParameter('error') == 'lock'}">
                    <div class="alert alert-danger text-center" role="alert">
                        <span th:text="#{common.error.already-modified}"></span><br>
                    </div>
                </div>

                <form action="#" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-5 mb-2">
                            <input id="from-date" class="form-control form-control-sm" type="text" value=""
                                   th:placeholder="#{operations.form.period-begin}" required title=""/>
                        </div>
                        <div class="col-md-5 mb-2">
                            <input id="till-date" class="form-control form-control-sm" type="text" value=""
                                   th:placeholder="#{operations.form.period-end}" required/>
                        </div>
                        <div class="col-md-2 mb-2">
                            <select id="page-volume" class="form-control form-control-sm" title="">
                                <option>5</option>
                                <option>10</option>
                                <option selected>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>50</option>
                                <option>75</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="loader-container" class="row col-md-12 mb-10">
            <div class="loader"></div>
        </div>

        <div class="row">
            <div id="operation-table" class="col-md-12 mb-3"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul id="pagination" class="pagination pagination-sm justify-content-center"></ul>
                </nav>
            </div>
        </div>

        <div hidden>
            <table id="operation-table-snippet" class="table table-sm table-hover">
                <thead align="right">
                <tr class="text-dark">
                    <th scope="col" th:text="#{operations.table.date}">Date</th>
                    <th scope="col" th:text="#{operations.table.from-account}">From account</th>
                    <th scope="col" th:text="#{operations.table.to-account}">To account</th>
                    <th scope="col" th:text="#{operations.table.category}">Category</th>
                    <th scope="col" th:text="#{operations.table.sum}">Sum</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div hidden>
            <li id="current-page" class="page-item"><a href="#pagination" class="page-link"></a></li>
            <span id="delete-confirm" th:text="#{index.delete-confirm}">Do you really want to delete this operation?</span>
            <span id="date-picker-lang" th:text="#{common.lang}">en</span>
            <div id="dollar"><i class="text-muted fas fa-dollar-sign"></i></div>
            <div id="euro"><i class="text-muted fas fa-euro-sign"></i></div>
            <div id="ruble"><i class="text-muted fas fa-ruble-sign"></i></div>
            <span id="edit-icon"><i class="far fa-edit text-dark"></i></span>
            <span id="trash-icon"><i class="far fa-trash-alt text-dark"></i></span>
        </div>

        <footer th:replace="footer::footer(enableMessageNotification=true)"></footer>
        <script>
            $(window).ready(function(){
                preloadImages();
                var fromDate = $('#from-date');
                var tillDate = $('#till-date');
                var size = $('#page-volume');
                setDatePicker(fromDate, tillDate);
                setOnChangeListeners(fromDate, tillDate, size);
                getOperationsPage();
            });
        </script>
    </div>
</main>
</body>
</html>