<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('operations')"></div>
<main role="main" class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h6 class="text-center text-muted" th:text="#{operation.edit-operation}">Edit operation</h6>

                <div class="d-block my-3 text-center">
                    <div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
                        <label class="btn btn-outline-secondary w-100 active">
                            <input type="radio" name="operationType" id="outcome" autocomplete="off">
                            <span th:text="#{index.form.outcome}">Outcome</span>
                        </label>
                        <label class="btn btn-outline-secondary w-100 ">
                            <input type="radio" name="operationType" id="income" autocomplete="off">
                            <span th:text="#{index.form.income}">Income</span>
                        </label>
                        <label class="btn btn-outline-secondary w-100">
                            <input type="radio" name="operationType" id="transfer" autocomplete="off">
                            <span th:text="#{index.form.transfer}">Transfer</span>
                        </label>
                    </div>
                </div>

                <form method="post" th:action="@{/operations/update}" action="#" th:object="${operation}"
                      class="needs-validation" novalidate>

                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{version}">
                    <input type="hidden" name="redirect" th:value="${redirectUrl}">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <select id="out-account" th:field="*{outAccount}" class="form-control form-control-sm">
                                <option value="" th:text="#{operation.form.select-account}"></option>
                                <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('outAccount')}">
                                <span th:errors="*{outAccount}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{operation.error.select-value}">Select a value</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select id="in-account" th:field="*{inAccount}" class="form-control form-control-sm">
                                <option value="" th:text="#{operation.form.select-account}"></option>
                                <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('inAccount')}">
                                <span th:errors="*{inAccount}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{operation.error.select-value}">Select a value</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <select id="category" th:field="*{category}" class="form-control form-control-sm" title="">
                                <option id="category-name-blank-value" value="" th:text="#{operation.form.select-category}"></option>
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('category')}">
                                <span th:errors="*{category}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{operation.error.select-value}">Select a value</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input th:field="*{date}" class="form-control form-control-sm" type="text" placeholder="yyyy-mm-dd" required/>
                            <div th:if="${#fields.hasErrors('date')}">
                                <span th:errors="*{date}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{operation.error.select-date}">Select a date of operation</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input th:field="*{sum}" type="text" class="form-control form-control-sm" placeholder="0.00"
                                   th:pattern="#{common.number.pattern}" required autofocus/>
                            <div th:if="${#fields.hasErrors('sum')}">
                                <span th:errors="*{sum}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{operation.error.should-be-digit}">
                                The field cannot be empty and should be a digit
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                                <textarea th:field="*{comment}" class="form-control form-control-sm" rows="1"
                                          th:placeholder="#{operation.form.comment.placeholder}"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-outline-secondary btn-block" type="submit"
                                    th:text="#{operation.form.save}">Save</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a th:href="@{${redirectUrl}}" href="#" class="btn btn-link text-dark btn-sm" role="button"
                               th:text="#{operation.back}">Back
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div hidden>
        <span id="date-picker-lang" th:text="#{common.lang}">en</span>
        <span id="sum-tooltip-template" th:text="#{operation.form.sum.tooltip.template}">Result:</span>
    </div>
</main>
<script>
    $(document).ready(function(){
        setValidationListener();
        setDatePicker($('#date'));
        setOperationTypeListener(false);
        prepareOperationEditForm();
        setOnArithmeticListener();
    });
</script>
<footer th:replace="footer::footer(enableMessageNotification=true)"></footer>
</body>
</html>