<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('options')"></div>
<main role="main" class="container">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="message" th:if="${#request.getParameter('success')}">
                    <div class="alert alert-success text-center" role="alert">
                        <span th:text="#{common.successfully-completed}"></span><br>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mb-3">
                <nav class="nav nav-pills nav-justified">
                    <a id="export-btn" class="nav-item nav-link active" href="#" th:text="#{serialize.export.button}"
                       onclick="exportButtonClick()">Export</a>
                    <a id="import-btn" class="nav-item nav-link" href="#" th:text="#{serialize.import.button}"
                       onclick="importButtonClick()">Link</a>
                </nav>
            </div>

            <div class="col-lg-8 mb-3">
                <form id="export-form" th:action="@{/operations/export}" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <input id="from-date" name="from" class="form-control" type="text" placeholder="yyyy-mm-dd" required/>
                            <small class="form-text text-muted" th:text="#{operations.form.period-begin}">Start date</small>
                        </div>
                        <div class="col-md-5 mb-3">
                            <input id="till-date" name="till" class="form-control" type="text" placeholder="yyyy-mm-dd" required/>
                            <small class="form-text text-muted" th:text="#{operations.form.period-end}">Final date</small>
                        </div>
                        <div class="col-md-2 mb-3">
                            <button type="submit" class="btn btn-primary btn-block" th:text="#{serialize.export.button}">Export</button>
                        </div>
                    </div>
                </form>
                <form id="import-form" th:action="@{/operations/import}" method="post" enctype="multipart/form-data" onchange="submit()" hidden>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <input id="file-input" class="form-control" type="file" name="file"/>
                            <small class="form-text text-danger" th:text="#{serialize.import.tooltip}">
                                Attention! Import will be done immediately after the file selection!
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div hidden>
            <span id="date-picker-lang" th:text="#{common.lang}">en</span>
        </div>

        <footer th:replace="footer::footer(enableMessageNotification=true)"></footer>
        <script>
            $(window).ready(function(){
                setDatePicker($('#from-date'));
                setDatePicker($('#till-date'));
                $('#file-input').fileselect({
                    language: $('#date-picker-lang').text()
                });
            });
        </script>
    </div>
</main>
</body>
</html>