<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('options')"></div>
<main role="main" class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">

                <h5 class="text-center" th:text="#{user-update.edit-profile}">Edit profile</h5>

                <div th:if="${#request.getParameter('success')}">
                    <div class="alert alert-success text-center" role="alert">
                        <span th:text="#{user-update.success-update}"></span><br>
                    </div>
                </div>

                <div th:if="${#request.getParameter('error') == 'lock'}">
                    <div class="alert alert-danger text-center" role="alert">
                        <span th:text="#{common.error.already-modified}"></span><br>
                    </div>
                </div>

                <form method="post" action="#" th:action="@{/user/update}" th:object="${person}" class="needs-validation" novalidate>

                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{version}">

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{email}">Email</label>
                            <input th:field="*{email}" type="email" class="form-control disabled"
                                   pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required/>
                            <div th:if="${#fields.hasErrors('email')}">
                                <span th:errors="*{email}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{user.error.not-empty}">The field cannot be empty</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{firstName}" th:text="#{user.form.firstname}">Firstname</label>
                            <input th:field="*{firstName}" type="text" class="form-control" required/>
                            <div th:if="${#fields.hasErrors('firstName')}">
                                <span th:errors="*{firstName}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{user.error.not-empty}">The field cannot be empty</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{lastName}" th:text="#{user.form.lastname}">Lastname</label>
                            <input th:field="*{lastName}" type="text" class="form-control"/>
                            <div th:if="${#fields.hasErrors('lastName')}">
                                <span th:errors="*{lastName}" class="text-danger small"></span><br>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{hash}" th:text="#{user.form.password}">Password</label>
                            <input th:field="*{hash}" type="password" class="form-control" required/>
                            <div th:if="${#fields.hasErrors('hash')}">
                                <span th:errors="*{hash}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{user.error.not-empty}">The field cannot be empty</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <button class="btn btn-primary btn-block" type="submit" th:text="#{user.form.submit}">Submit</button>
                        </div>
                    </div>
                </form>

                <div class="text-center">
                    <a th:href="@{/}" href="#" class="btn btn-link text-dark btn-sm" role="button" th:text="#{user-update.cancel}">
                        Cancel
                    </a>
                </div>

            </div>
        </div>
    </div>
</main>
<footer th:replace="footer::footer"></footer>
<script>
    $(document).ready(function(){
        setValidationListener();
    });
</script>
</body>
</html>