<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<div th:replace="navbar::navbar('options')"></div>
<main role="main" class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <h6 class="text-center text-muted" th:text="#{user-update.edit-profile}">Edit profile</h6>
                <div th:if="${#request.getParameter('success')}">
                    <div class="alert alert-success text-center" role="alert">
                        <span th:text="#{user-update.success-update}"></span><br>
                    </div>
                </div>

                <div th:if="${#request.getParameter('error') == 'lock'}">
                    <div class="alert alert-danger text-center" role="alert">
                        <span th:text="#{common.error.already-modified}"></span><br>
                    </div>
                </div>

                <form method="post" action="#" th:action="@{/user/update}" th:object="${personForm}" class="needs-validation" novalidate>

                    <input type="hidden" th:field="*{person.id}">
                    <input type="hidden" th:field="*{person.version}">

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{person.email}">Email</label>
                            <input th:field="*{person.email}" type="email" class="form-control form-control-sm"
                                   pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required/>
                            <div th:if="${#fields.hasErrors('person.email')}">
                                <span th:errors="*{person.email}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{user.error.not-empty}">The field cannot be empty</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{person.firstName}" th:text="#{user.form.firstname}">Firstname</label>
                            <input th:field="*{person.firstName}" type="text" class="form-control form-control-sm" required/>
                            <div th:if="${#fields.hasErrors('person.firstName')}">
                                <span th:errors="*{person.firstName}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{user.error.not-empty}">The field cannot be empty</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{person.lastName}" th:text="#{user.form.lastname}">Lastname</label>
                            <input th:field="*{person.lastName}" type="text" class="form-control form-control-sm"/>
                            <div th:if="${#fields.hasErrors('person.lastName')}">
                                <span th:errors="*{person.lastName}" class="text-danger small"></span><br>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{person.nickname}" th:text="#{user.form.nickname}">Nickname</label>
                            <input th:field="*{person.nickname}" type="text" class="form-control form-control-sm" required/>
                            <div th:if="${#fields.hasErrors('person.nickname')}">
                                <span th:errors="*{person.nickname}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{user.error.not-empty}">The field cannot be empty</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{person.hash}" th:text="#{user.form.password}">Password</label>
                            <input th:field="*{person.hash}" type="password" class="form-control form-control-sm" required/>
                            <div th:if="${#fields.hasErrors('person.hash')}">
                                <span th:errors="*{person.hash}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{user.error.not-empty}">The field cannot be empty</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label th:for="*{confirmPassword}" th:text="#{user.form.confirm-password}">Confirm password</label>
                            <input th:field="*{confirmPassword}" type="password" class="form-control form-control-sm" required/>
                            <div th:if="${#fields.hasErrors('confirmPassword')}">
                                <span th:errors="*{confirmPassword}" class="text-danger small"></span><br>
                            </div>
                            <div class="invalid-feedback" th:text="#{user.error.not-empty}">The field cannot be empty</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-outline-secondary btn-block" type="submit"
                                    th:text="#{user.form.save}">Save</button>
                        </div>
                    </div>
                </form>

                <div class="text-center">
                    <a th:href="@{/}" href="#" class="btn btn-link text-dark btn-sm" role="button"
                       th:text="#{user-update.cancel}">Cancel
                    </a>
                </div>

            </div>
        </div>
    </div>
</main>
<footer th:replace="footer::footer(enableMessageNotification=true)"></footer>
<script>
    $(document).ready(function(){
        setValidationListener();
    });
</script>
</body>
</html>